<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section spad set-bg" data-setbg="assets/img/breadcrumb-contact-bg.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <h4>Liên hệ với chúng tôi</h4>
          <div class="bt-option">
            <a href="/"><i class="fa fa-home"></i> Trang chủ</a>
            <span>Liên hệ</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Contact Form Section Begin -->
<section class="contact-form-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="cf-content">
          <div class="cc-title">
            <h4>Liên hệ</h4>
            <p>Điền vào biểu mẫu dưới đây nếu bạn cần liên hệ với chúng tôi để <br> tư vấn các sản phẩm bất động sản hoặc
              tất cả các vấn đề liên quan</p>
          </div>
          <form action="#" class="cc-form">
            <div class="group-input">
              <input type="text" placeholder="Tên">
              <input type="text" placeholder="Email">
              <input type="text" placeholder="Số điện thoại">
            </div>
            <textarea placeholder="Vấn đề thắc mắc"></textarea>
            <button type="submit" class="site-btn">Gửi</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact Form Section End -->
