<!-- Property Details Section Begin -->
<section class="property-details-section">
  <div class="property-pic-slider owl-carousel">
    <div class="ps-item">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-12 p-0">
                <div class="ps-item-inner large-item set-bg"  data-setbg="assets/img/property/slider/ps-1.jpg"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-sm-6 p-0">
                <div class="ps-item-inner set-bg"  data-setbg="assets/img/property/slider/ps-2.jpg"></div>
              </div>
              <div class="col-sm-6 p-0">
                <div class="ps-item-inner set-bg"  data-setbg="assets/img/property/slider/ps-2.jpg"></div>
              </div>
              <div class="col-sm-6 p-0">
                <div class="ps-item-inner set-bg"  data-setbg="assets/img/property/slider/ps-4.jpg"></div>
              </div>
              <div class="col-sm-6 p-0">
                <div class="ps-item-inner set-bg"  data-setbg="assets/img/property/slider/ps-5.jpg"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ps-item">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-12 p-0">
                <div class="ps-item-inner large-item set-bg"  data-setbg="assets/img/property/slider/ps-1.jpg"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-sm-6 p-0">
                <div class="ps-item-inner set-bg"  data-setbg="assets/img/property/slider/ps-2.jpg"></div>
              </div>
              <div class="col-sm-6 p-0">
                <div class="ps-item-inner set-bg"  data-setbg="assets/img/property/slider/ps-2.jpg"></div>
              </div>
              <div class="col-sm-6 p-0">
                <div class="ps-item-inner set-bg"  data-setbg="assets/img/property/slider/ps-4.jpg"></div>
              </div>
              <div class="col-sm-6 p-0">
                <div class="ps-item-inner set-bg"  data-setbg="assets/img/property/slider/ps-5.jpg"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="pd-text">
          <div class="row">
            <div class="col-lg-6">
              <div class="pd-title">
                <a routerLink="/" class="heart-icon"><span class="icon_heart_alt"></span></a>
                <div class="label">Cho thuê</div>
                <div class="pt-price">VNĐ 289.0<span>/tháng</span></div>
                <h3>Golden Land city</h3>
                <p><span class="icon_pin_alt"></span> 3 Middle Winchendon Rd, Rindge, NH 03463</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="pd-social">
                <a routerLink="/"><i class="fa fa-mail-forward"></i></a>
                <a routerLink="/"><i class="fa fa-send"></i></a>
                <a routerLink="/"><i class="fa fa-heart"></i></a>
                <a routerLink="/"><i class="fa fa-mail-forward"></i></a>
                <a routerLink="/"><i class="fa fa-cloud-download"></i></a>
              </div>
            </div>
          </div>
          <div class="pd-board">
            <div class="tab-board">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Tổng quát</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Mô tả</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Tiện nghi</a>
                </li>
              </ul><!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane active" id="tabs-1" role="tabpanel">
                  <div class="tab-details">
                    <ul class="left-table">
                      <li>
                        <span class="type-name">Loại hình</span>
                        <span class="type-value">Nhà</span>
                      </li>
                      <li>
                        <span class="type-name">Mã số</span>
                        <span class="type-value">#219</span>
                      </li>
                      <li>
                        <span class="type-name">Giá</span>
                        <span class="type-value">VNĐ 289.0/tháng</span>
                      </li>
                      <li>
                        <span class="type-name">Xây dựng</span>
                        <span class="type-value">2019</span>
                      </li>
                      <li>
                        <span class="type-name">Loại hợp đồng</span>
                        <span class="type-value">Rent</span>
                      </li>
                      <li>
                        <span class="type-name">Agent</span>
                        <span class="type-value">Nguyễn Hữu Tài</span>
                      </li>
                    </ul>
                    <ul class="right-table">
                      <li>
                        <span class="type-name">Diện tích</span>
                        <span class="type-value">1200 sqft</span>
                      </li>
                      <li>
                        <span class="type-name">Số phòng</span>
                        <span class="type-value">9</span>
                      </li>
                      <li>
                        <span class="type-name">Phòng tắm</span>
                        <span class="type-value">4</span>
                      </li>
                      <li>
                        <span class="type-name">Phòng ngủ</span>
                        <span class="type-value">3</span>
                      </li>
                      <li>
                        <span class="type-name">Gara</span>
                        <span class="type-value">2</span>
                      </li>
                      <li>
                        <span class="type-name">Chỗ để xe</span>
                        <span class="type-value">2</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="tab-pane" id="tabs-2" role="tabpanel">
                  <div class="tab-desc">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dolor itaque facere consequatur, dignissimos minus adipisci ipsam repudiandae nisi illum provident, natus quidem vero? Quaerat ducimus sequi praesentium commodi, consectetur corporis eos sit perspiciatis, quae sed officia error, iure quasi.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dolor itaque facere consequatur, dignissimos minus adipisci ipsam repudiandae nisi illum provident, natus quidem vero? Quaerat ducimus sequi praesentium commodi, consectetur corporis eos sit perspiciatis, quae sed officia error, iure quasi.</p>
                  </div>
                </div>
                <div class="tab-pane" id="tabs-3" role="tabpanel">
                  <div class="tab-details">
                    <ul class="left-table">
                      <li>
                        <span class="type-name">Loại hình</span>
                        <span class="type-value">Nhà</span>
                      </li>
                      <li>
                        <span class="type-name">Mã số</span>
                        <span class="type-value">#219</span>
                      </li>
                      <li>
                        <span class="type-name">Giá</span>
                        <span class="type-value">VNĐ 289.0/tháng</span>
                      </li>
                      <li>
                        <span class="type-name">Xây dựng</span>
                        <span class="type-value">2019</span>
                      </li>
                      <li>
                        <span class="type-name">Loại hợp đồng</span>
                        <span class="type-value">Rent</span>
                      </li>
                      <li>
                        <span class="type-name">Agent</span>
                        <span class="type-value">Nguyễn Hữu Tài</span>
                      </li>
                    </ul>
                    <ul class="right-table">
                      <li>
                        <span class="type-name">Diện tích</span>
                        <span class="type-value">1200 sqft</span>
                      </li>
                      <li>
                        <span class="type-name">Số phòng</span>
                        <span class="type-value">9</span>
                      </li>
                      <li>
                        <span class="type-name">Phòng tắm</span>
                        <span class="type-value">4</span>
                      </li>
                      <li>
                        <span class="type-name">Phòng ngủ</span>
                        <span class="type-value">3</span>
                      </li>
                      <li>
                        <span class="type-name">Gara</span>
                        <span class="type-value">2</span>
                      </li>
                      <li>
                        <span class="type-name">Chỗ để xe</span>
                        <span class="type-value">2</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pd-widget">
            <h4>Xem chi tiết</h4>
            <img src="assets/img/property/details/floor-plan.jpg" alt="">
          </div>
          <div class="pd-widget">
            <h4>Vị trí trên bản đồ</h4>
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.7838808890156!2d108.18390771470179!3d16.024762044884977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142197ef556b01b%3A0xc67894c8531ff2f5!2zMTM1IFbFqSBMxINuZywgSG_DoCBQaMOhdCwgQ-G6qW0gTOG7hywgxJDDoCBO4bq1bmcsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1597017904926!5m2!1svi!2s" width="600" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="map-location">
              <div class="row">
                <div class="col-lg-6">
                  <div class="ml-item">
                    <div class="ml-single-item">
                      <h6>Hospital <span>( <i class="fa fa-location-arrow"></i> 5 km )</span></h6>
                      <p>Portland Ave Rochester, NY 14621</p>
                    </div>
                    <div class="ml-single-item">
                      <h6>Schools <span>( <i class="fa fa-location-arrow"></i> 8 km )</span></h6>
                      <p>Cragin Elementary School</p>
                    </div>
                    <div class="ml-single-item">
                      <h6>Store <span>( <i class="fa fa-location-arrow"></i> 2 km )</span></h6>
                      <p>Exceptional Shoes & Clothing</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="ml-item">
                    <div class="ml-single-item">
                      <h6>Laundry <span>( <i class="fa fa-location-arrow"></i> 3 km )</span></h6>
                      <p>Besst at laundry</p>
                    </div>
                    <div class="ml-single-item">
                      <h6>Health <span>( <i class="fa fa-location-arrow"></i> 5 km )</span></h6>
                      <p>Boomerang Barber & Beauty</p>
                    </div>
                    <div class="ml-single-item">
                      <h6>Health <span>( <i class="fa fa-location-arrow"></i> 5 km )</span></h6>
                      <p>Boomerang Barber & Beauty</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
<!--          <div class="pd-widget">-->
<!--            <h4>Agent</h4>-->
<!--            <div class="pd-agent">-->
<!--              <div class="agent-pic">-->
<!--                <img src="assets/img/property/details/agent.jpg" alt="">-->
<!--              </div>-->
<!--              <div class="agent-text">-->
<!--                <div class="at-title">-->
<!--                  <h6>Nguyễn Hữu Tài</h6>-->
<!--                  <span>Founder & CEO</span>-->
<!--                  <a routerLink="/" class="primary-btn">VIew profile</a>-->
<!--                </div>-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, eiusmod tempor incididunt</p>-->
<!--                <div class="at-option">-->
<!--                  <div class="at-number">123-455-688</div>-->
<!--                  <div class="at-social">-->
<!--                    <a routerLink="/"><i class="fa fa-facebook"></i></a>-->
<!--                    <a routerLink="/"><i class="fa fa-twitter"></i></a>-->
<!--                    <a routerLink="/"><i class="fa fa-envelope-o"></i></a>-->
<!--                  </div>-->
<!--                </div>-->

<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
          <div class="pd-widget">
            <h4>02 Đánh giá</h4>
            <div class="pd-review">
              <div class="pr-item">
                <div class="pr-avatar">
                  <div class="pr-pic">
                    <img src="assets/img/property/details/review/review-1.jpg" alt="">
                  </div>
                  <div class="pr-text">
                    <h6>Brandon Kelley</h6>
                    <span>15/05/2017</span>
                    <div class="pr-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                </div>
                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam.</p>
              </div>
              <div class="pr-item">
                <div class="pr-avatar">
                  <div class="pr-pic">
                    <img src="assets/img/property/details/review/review-2.jpg" alt="">
                  </div>
                  <div class="pr-text">
                    <h6>Matthew Nelson</h6>
                    <span>15/05/2017</span>
                    <div class="pr-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                </div>
                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam.</p>
              </div>
            </div>
          </div>
          <div class="pd-widget">
            <h4>Đánh giá của bạn</h4>
            <form action="#" class="review-form">
              <div class="group-input">
                <input type="text" placeholder="Tên">
                <input type="text" placeholder="Email">
                <input type="text" placeholder="Số điện thoại">
              </div>
              <textarea placeholder="Lời nhận xét"></textarea>
<!--              <div class="rating">-->
<!--                <span>Your Rating:</span>-->
<!--                <i class="fa fa-star"></i>-->
<!--                <i class="fa fa-star"></i>-->
<!--                <i class="fa fa-star"></i>-->
<!--                <i class="fa fa-star"></i>-->
<!--                <i class="fa fa-star"></i>-->
<!--              </div>-->
              <button type="submit" class="site-btn">gửi đánh giá</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="property-sidebar">
          <div class="single-sidebar">
            <div class="section-title sidebar-title">
              <h5>Liên hệ tư vấn</h5>
            </div>
            <div class="top-agent">
              <div class="ta-item">
                <div class="ta-pic set-bg"  data-setbg="assets/img/property/details/sidebar/ta-1.jpg"></div>
                <div class="ta-text">
                  <h6><a routerLink="/">Nguyễn Hữu Tài</a></h6>
                  <span>Team Leader</span>
                  <div class="ta-num">123-455-688</div>
                </div>
              </div>
              <div class="ta-item">
                <div class="ta-pic set-bg"  data-setbg="assets/img/property/details/sidebar/ta-2.jpg"></div>
                <div class="ta-text">
                  <h6><a routerLink="/">Nguyễn Hữu Tài</a></h6>
                  <span>Team Leader</span>
                  <div class="ta-num">123-455-688</div>
                </div>
              </div>
              <div class="ta-item">
                <div class="ta-pic set-bg"  data-setbg="assets/img/property/details/sidebar/ta-3.jpg"></div>
                <div class="ta-text">
                  <h6><a routerLink="/">Nguyễn Hữu Tài</a></h6>
                  <span>Team Leader</span>
                  <div class="ta-num">123-455-688</div>
                </div>
              </div>
            </div>
          </div>
          <div class="single-sidebar slider-op">
            <div class="section-title sidebar-title">
              <h5>Loại hình nổi bật</h5>
            </div>
            <div class="sf-slider owl-carousel">
              <div class="sf-item set-bg"  data-setbg="assets/img/categories/cat-1.jpg">
                <div class="sf-text">
                  <h5>Nhà</h5>
                  <span>38 bất động sản</span>
                </div>
              </div>
              <div class="sf-item set-bg"  data-setbg="assets/img/categories/cat-2.jpg">
                <div class="sf-text">
                  <h5>Căn hộ</h5>
                  <span>238 bất động sản</span>
                </div>
              </div>
              <div class="sf-item set-bg"  data-setbg="assets/img/categories/cat-3.jpg">
                <div class="sf-text">
                  <h5>Villa</h5>
                  <span>230 bất động sản</span>
                </div>
              </div>
              <div class="sf-item set-bg"  data-setbg="assets/img/categories/cat-4.jpg">
                <div class="sf-text">
                  <h5>Nhà hàng</h5>
                  <span>38 bất động sản</span>
                </div>
              </div>
            </div>
          </div>
          <div class="single-sidebar">
            <div class="section-title sidebar-title">
              <h5>mortgage calculator</h5>
            </div>
            <form action="#" class="calculator-form">
              <div class="filter-input">
                <p>Sale Price</p>
                <input type="text" placeholder="VNĐ">
              </div>
              <div class="filter-input">
                <p>Precent Down</p>
                <input type="text" placeholder="VNĐ">
              </div>
              <div class="filter-input">
                <p>Term(year)</p>
                <input type="text" placeholder="Year">
              </div>
              <div class="filter-input">
                <p>Interest Rate in %</p>
                <input type="text" placeholder="%">
              </div>
              <button type="submit" class="site-btn">Calculate</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Property Details Section End -->
