<!-- Breadcrumb Section Begin -->
<!--      <ngx-spinner-->
<!--        bdColor="rgba(0, 0, 0, 0.8)"-->
<!--        size="medium"-->
<!--        color="#fff"-->
<!--        type="ball-scale-multiple" [fullScreen]="true" [name]="'loading_list'"-->
<!--      >-->
<!--        <p style="font-size: 20px; color: black"></p>-->
<!--      </ngx-spinner>-->
<section class="breadcrumb-section spad set-bg" data-setbg="assets/img/breadcrumb-bg.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <h4>Sản phẩm</h4>
          <div class="bt-option">
            <a routerLink="/"><i class="fa fa-home"></i> Trang chủ</a>
            <span>Sản phẩm</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<section class="search-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="section-title">
          <h4>Tìm kiếm</h4>
        </div>
      </div>
      <div class="col-12">
        <div class="cf-content">
          <form action="#" class="cc-form">
            <div class="group-input">
              <input (input)="onSearchChange($event.target.value)" [ngbTypeahead]="search" [(ngModel)]="term" name="username" type="text" placeholder="Tìm kiếm">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Property Section Begin -->
<section class="property-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h4>Dự án mới cập nhật</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6" *ngFor="let property of properties">
        <div class="property-item">
          <div class="pi-pic set-bg"
               [ngStyle]="{'background-image': 'url(' + (property.sourceAsMap.image != null ? property.sourceAsMap.image : DEFAULT_IMAGE) + ')'}">
            <div class="label">Rao bán</div>
          </div>
          <div class="pi-text">
            <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
            <div class="pt-price">{{property.sourceAsMap.giaTien}} VNĐ<span>/tháng</span></div>
            <h5><a href="#">{{property.sourceAsMap.tenSanPham}}</a></h5>
            <p><span class="icon_pin_alt"></span> {{property.sourceAsMap.diaChi}}</p>
            <ul>
              <li><i class="fa fa-object-group"></i> 2, 283</li>
              <li><i class="fa fa-bathtub"></i> 03</li>
              <li><i class="fa fa-bed"></i> 05</li>
              <li><i class="fa fa-automobile"></i> 01</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="loadmore-btn">
          <a routerLink="/">Tải thêm</a>
        </div>
      </div>
    </div>
    <ngb-pagination *ngIf="properties"
                    [(page)]="pageNews"
                    [pageSize]="pageSize"
                    [collectionSize]="properties.length"></ngb-pagination>
  </div>
</section>
<!-- Property Section End -->
